.side-nav-menu-item {
    list-style-type: none;
    box-sizing: border-box;
    display: block; 
    font-size: 14px;
    font-weight: 400;
    line-height: 47px;
    text-decoration: none;
    transition: all .3s;
    padding: 0 16px;
    position: relative;
}

.side-nav-menu-item-active {
    background: #ddd
}