<mat-sidenav-container style="height:100%">
  <mat-sidenav #sidenav mode="over" opened="false">
    <side-nav-menu [sidenav]="sidenav">
      <side-nav-item route="/state" title="Menu State" icon="home"></side-nav-item>
      <side-nav-item route="/page1" title="Page 1" icon="assignment" [disabled]="state.disabled['page1']"></side-nav-item>
      <side-nav-group>
        <side-nav-item route="/page2" title="Page 2" [disabled]="state.disabled['page2']"></side-nav-item>
        <side-nav-item route="/page3" title="Page 3" [disabled]="state.disabled['page3']"></side-nav-item>
      </side-nav-group>
      <side-nav-group title="submenu 4">
        <side-nav-item route="/page/4.1" title="Page 4.1 xxxxx xxxxx"></side-nav-item>
        <side-nav-item route="/page/4.2" title="Page 4.2"></side-nav-item>
      </side-nav-group>
      <side-nav-item route="/page/5" title="Page 5"></side-nav-item>
      <side-nav-item route="/page/6" title="Page 6" icon="info"></side-nav-item>
    </side-nav-menu>
  </mat-sidenav>


<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <span>mat-sidenav-menu Demo</span>
</mat-toolbar>

<div style="text-align:center;width:100%">
  <router-outlet></router-outlet>
</div>

</mat-sidenav-container>
