@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}


side-nav-x-group mat-expansion-panel-header.mat-expansion-panel-header {
    padding-left: 16px;
}

div.mat-expansion-panel-body {
    padding-right: 0px;
    padding-left: 0px;
}
